<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>SmashPredictions</title>
	
	<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/create_account.css">
	<link rel="icon" type="image/png" href="images/shaker-icon.ico">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>

<body>

<div class='container-fluid' style='background-color:black;'>
	<div class='row'>
		<div class='hidden-sm hidden-xs col-md-1'></div>
		<div class='col-sm-12 col-md-10' style='background-color:#FDF3F2'>

			<% include templates/navbar.ejs %>

			<div id='account-box'>
				<div id='Create-Account'>Create a New Account</div><br>
				<div>
					<div class='account-options'>Email</div>
					<div><form><input type='text' name='email' class='input-boxes'></form></div>
				</div><br>
				<div>
					<div class='account-options'>Username</div>
					<div><form><input type='text' name='username' class='input-boxes'></form></div>
				</div><br>
				<div>
					<div class='account-options'>Password</div>
					<div><form><input type='text' name='password' class='input-boxes'></form></div>
				</div>
				<div><br>
					<div class='account-options'>Re-enter Password</div>
					<div><form><input type='text' name='password' class='input-boxes'></form></div>
				</div>
				<div><br>
					<div class='account-options'>Choose a Home Page</div>
					<div>
						<form class='radio-button' style='float:left'><input type='radio' name='homepage' value='Melee' checked>Melee</form>
						<form class='radio-button'><input type='radio' name='homepage' value='Smash-4'>Smash 4</form>
					</div>
				</div>
				<div><br>
					<div class='account-options'>Choose a Melee Character</div>
					<div><select>
						<option value='--'>--</option>
						<option value='Bowser'>Bowser</option><option value='Captain-Falcon'>Captain Falcon</option><option value='Dr-Mario'>Dr. Mario</option>
						<option value='DK'>Donkey Kong</option><option value='Falco'>Falco</option><option value='Fox'>Fox</option>
						<option value='Ganandorf'>Ganandorf</option><option value='Ice-Climbers'>Ice-Climbers</option><option value='Jiggly-Puff'>Jiggly-Puff</option>
						<option value='Kirby'>Kirby</option><option value='Link'>Link</option><option value='Luigi'>Luigi</option>
						<option value='Mario'>Mario</option><option value='Marth'>Marth</option><option value='Mewtwo'>Mewtwo</option>
						<option value='Mr-GW'>Mr. Game & Watch</option><option value='Ness'>Ness</option><option value='Peach'>Peach</option>
						<option value='Pichu'>Pichu</option><option value='Pikachu'>Pikachu</option><option value='Roy'>Roy</option>
						<option value='Samus'>Samus</option><option value='Sheik'>Sheik</option><option value='Yoshi'>Yoshi</option>
						<option value='Young-Link'>Young Link</option><option value='Young-Link'>Zelda</option>
					</select></div>
				</div>
				<div><br>
					<div class='account-options'>Choose a Sm4sh Character</div>
					<div><select>
						<option value='--'>--</option>
						<option value='Bowser'>Bowser</option><option value='Captain-Falcon'>Captain Falcon</option><option value='Dr-Mario'>Dr. Mario</option>
						<option value='DK'>Donkey Kong</option><option value='Falco'>Falco</option><option value='Fox'>Fox</option>
						<option value='Ganandorf'>Ganandorf</option><option value='Ice-Climbers'>Ice-Climbers</option><option value='Jiggly-Puff'>Jiggly-Puff</option>
						<option value='Kirby'>Kirby</option><option value='Link'>Link</option><option value='Luigi'>Luigi</option>
						<option value='Mario'>Mario</option><option value='Marth'>Marth</option><option value='Mewtwo'>Mewtwo</option>
						<option value='Mr-GW'>Mr. Game & Watch</option><option value='Ness'>Ness</option><option value='Peach'>Peach</option>
						<option value='Pichu'>Pichu</option><option value='Pikachu'>Pikachu</option><option value='Roy'>Roy</option>
						<option value='Samus'>Samus</option><option value='Sheik'>Sheik</option><option value='Yoshi'>Yoshi</option>
						<option value='Young-Link'>Young Link</option><option value='Young-Link'>Zelda</option>
					</select></div>
				</div><br><br>
				<div><button id='sign-in-button'>Create an Account</button></div>
			</div>
		</div>
		<div class='hidden-sm hidden-xs col-md-1'></div>
	</div>
</div>


</body>
</html>