<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>SmashPredictions</title>
	
	<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/create_account.css">
	<link rel="icon" type="image/png" href="images/shaker-icon.ico">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>

<body>

<div class='container-fluid' style='background-color:black;'>
	<div class='row'>
		<div class='hidden-sm hidden-xs col-md-1'></div>
		<div class='col-sm-12 col-md-10' style='background-color:#FDF3F2'>

			<% include templates/navbar.ejs %>

			<div id='account-box'>
				<form action="/create_account" method="post">
				<div id='Create-Account'>Create a New Account</div><br>
				<div>
					<div class='account-options'>Email</div>
					<div><input type='text' name='email' class='input-boxes' maxlength='2000' value="<%= email %>"></div>
				</div><br>
				<div>
					<div class='account-options'>Username</div>
					<div><input type='text' name='username' class='input-boxes' maxlength='40' value="<%= username %>"></div>
				</div><br>
				<div>
					<div class='account-options' style='float:left'>Password</div>
					<div><input type='password' name='password1' class='input-boxes' maxlength='2000'></div>
				</div>
				<div><br>
					<div class='account-options'>Re-enter Password</div>
					<div><input type='password' name='password2' class='input-boxes' maxlength='2000'></div>
				</div>
				<!-- <div><br>
					<div class='account-options'>Choose a Home Page</div>
					<div>
						<div class='radio-button' style='float:left'><input type='radio' name='homepage' value='Melee' checked>Melee</input></div>
						<div class='radio-button'><input type='radio' name='homepage' value='Smash-4'>Smash 4</input></div>
					</div>
				</div> -->
				<div><br>
					<div class='account-options'>Choose Your Character (Sm4sh coming soon)</div>
					<div><select name = "melee_char">
						<option value='--'>--</option>
						<option value='bowser'>Bowser</option><option value='captainfalcon'>Captain Falcon</option><option value='drmario'>Dr. Mario</option>
						<option value='donkeykong'>Donkey Kong</option><option value='falco'>Falco</option><option value='fox'>Fox</option>
						<option value='ganondorf'>Ganondorf</option><option value='iceclimbers'>Ice Climbers</option><option value='jigglypuff'>Jigglypuff</option>
						<option value='kirby'>Kirby</option><option value='link'>Link</option><option value='luigi'>Luigi</option>
						<option value='mario'>Mario</option><option value='marth'>Marth</option><option value='mewtwo'>Mewtwo</option>
						<option value='mrgameandwatch'>Mr. Game & Watch</option><option value='ness'>Ness</option><option value='peach'>Peach</option>
						<option value='pichu'>Pichu</option><option value='pikachu'>Pikachu</option><option value='roy'>Roy</option>
						<option value='samus'>Samus</option><option value='sheik'>Sheik</option><option value='yoshi'>Yoshi</option>
						<option value='younglink'>Young Link</option><option value='zelda'>Zelda</option>
					</select></div>
				</div>
				<br>
				<center><div id='warning-message'><%= error_message %></div></center>
				<br>
				<div><button id='sign-in-button'>Create an Account</button></div>
				</form>
			</div>
		</div>
		<div class='hidden-sm hidden-xs col-md-1'></div>
	</div>
</div>


</body>
</html>
