.a:hover{
	color:red;
	text-decoration:none;
}

.horizontal-strip{
	height:250px;
	text-align:center;
}

.tourney-name-year{
	text-align: center;
	color:white;
	font-family:impact;
	text-shadow:
	-2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#tourney-name{
	line-height:100px;
}

#tourney-year{
	line-height:75px;
}

#twitch{
	text-decoration:underline;
	color:white;
	font-weight:bold;
	font-size:16px;
	line-height:45px;
}

.melee-smash-tabs{
	color:black;
	font-size: 30px;
	padding:2px 10px 0px 10px;
	margin-top:31px;
	font-family:arial;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#melee-display{
	display:block;
}

#coming-soon-smash{
	display:none;
}

#melee{
	float:left;
	background-color:#FDF3F2
}

#smash{
	float:right;
	background-color:darkred;
}

.row1{
	text-align:center;
	background-color:transparent;
	color:#B10000;
	font-weight:bold;
	font-size:20px;
}

#personal{
	text-align:center;
}

#main-feed{
	text-align:center;
}

#table2{
	margin-top:12px;
	width:100%;
	height:30px;
}

/*TABS*/

.nav-pills li {
	float:center !important;
	display:inline-block !important;
	margin:0px 20px 20px 20px !important;
}

/* inactive tab font color */
.nav-pills li a {
  background-color: transparent; 
  color:#B10000;
  font-weight:bold;
  font-size:18px;
}

/*active tab background color and hover color */
.nav-pills li.active a, .nav-pills li.active a:hover{
	background-color:#B10000 !important;
}

/* inactive tab hover color */
.nav-pills li a:hover {
  background-color: lightgray !important;
}

/*PREDICTIONS BOX*/

#predictions-box{
	display:block;
	border:2px solid black;
	height:650px;
	background-color:#E6E6E6;
}

.all-boxes{
	border:solid 3px black;
	text-align: left;
	padding:1%;
	background-color:white;
	margin:2%;
	overflow:hidden;
}

#current-match{
	background-color:yellow;
}

#waiting-match{
	background-color:white;
}

#finished-match{
	background-color:gray;
}

.versus{
	text-align:center;
	font-size:40px;
	width:33.3%;
}

#hidden-prediction-popup-block{
	display:none;
	position:fixed;
	top:10%;
	left:50%;
	margin-left:-325px;
}

.hidden-prediction-popup{
	background-color:white;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content:space-around;
    width: 650px;
    height: 430px;
	border:solid 3px black;
}

.hidden-prediction-columns{
	display: -webkit-flex;
    display: flex;
	-webkit-flex-direction: column;
    flex-direction: column;
}

.vertical-spacing-popup{
	margin:15px;
}

.player-header{
	font-size:50px;
	font-weight:bold;
	text-align:center;
	border-bottom:solid black 2px;
}

#vs-header{
	color:black;
	font-size:50px;
	text-align:center;
}

.player-wins{
	text-align:center;
	color:black;
	width:200px;
	font-size:30px;
}

.player-options{
	text-align:center;
	color:black;
	width:200px;
	font-size:23px;
}

#winner-odds{
	text-align:center;
	font-size:45px;
	color:black;
	padding-top:25px
}

.player1-odds{
	text-align:left;
	color:black;
	width:80px;
	font-size:30px;
	padding-top:45px;
}

.player2-odds{
	text-align:right;
	color:black;
	width:80px;
	font-size:30px;
	padding-top:45px;
}

.pred-input-boxes{
	width:100px;
	height:30px;
	vertical-align:middle;
	text-align:center;
}

.turnips{
	height:30px;
	width:30px;
}

#submit-button{
	background-color:purple;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	font-weight:bold;
	border-radius:5px;
	margin:10px;
}

/*STATISTICS BOX*/

#statistics-box{
	display:block;
	border:2px solid black;
	height:650px;
	background-color:#E6E6E6;
}

#leaderboards-box{
	display:block;
	border:2px solid black;
	height:650px;
	background-color:#E6E6E6;
}

#myprofile-box{
	display:block;
	border:2px solid black;
	height:650px;
	background-color:#E6E6E6;
}

#trending{
	text-align:center;
}

/*Test material*/

